---
import WorldMap from "../../components/WorldMap.astro";
import BaseLayout from '@layouts/BaseLayout.astro';

---

<BaseLayout>
    <div class="map-header-wrapper">
        <h1 class="map-header">Places I've been to</h1>
    </div>
    <WorldMap />
</BaseLayout>

<style>

    .map-header-wrapper {
        width: 100%;
        max-width: 1400px;
        margin-inline: auto;
        margin-top: var(--space-xs);
    }
    .map-header {
    font-size: var(--font-step-4);
    font-family: var(--font-hero);
  }
</style>
  